<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="edu.thapar.newindialms">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/MyTheme">
        <activity android:name=".MainScreen">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".RegisterScreen" />
        <activity android:name=".LoginScreen" />
        <activity android:name=".StudentDashboard" />
        <activity
            android:name=".ProgramManagerMenu"
            android:label="@string/programid"
            android:theme="@style/MyTheme" />
        <activity android:name=".ShowStudentSingleRecordActivity" />
        <activity android:name=".ShowAllFacultyActivity" />
        <activity android:name=".ShowFacultySingleRecordActivity" />
        <activity android:name=".EmailActivity" />
        <activity android:name=".EmailActivityAll" />
        <activity android:name=".OpenCalendar" />
        <activity android:name=".UpdateFeedback" />
        <activity android:name=".SpinnerStudentList" />
        <activity
            android:name=".ViewStudentsTab"
            android:label="@string/title_activity_student_view"
            android:theme="@style/MyTheme" />
        <activity
            android:name=".AddCourseTab"
            android:theme="@style/MyTheme"
            android:windowSoftInputMode="stateAlwaysHidden" />
        <activity android:name=".StudentPicProgram" />
        <activity android:name=".ProgramScreen" />
        <activity android:name=".ProgramScreenYear" />
        <activity android:name=".ProgramScreenSpecialization" />
        <activity android:name=".AcademicCalendar" />
        <activity android:name=".ProgramScreenYearStudentName" />
        <activity android:name=".ProgramScreenCourse" />
        <activity android:name=".ProgramScreenSpecializationModule" />
        <activity android:name=".ProgramScreenCourseModule" />
        <activity android:name=".DetailedNotificationScreen"
            android:theme="@style/FacultyTheme"/>
        <activity android:name=".DetailedStudentNotificationScreen"
            android:theme="@style/StudentTheme"/>
        <activity android:name=".CalendarView">
            <intent-filter>
                <action android:name="edu.thapar.CalendarNotification" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity android:name=".NotificationTab" />
        <activity android:name=".NotificationScreen" />
        <activity android:name=".SendFacultyNotificaton"/>
        <activity android:name=".FacultyNotificationScreen">
            <intent-filter>
                <action android:name="edu.thapar.FacultyNotificationScreen" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity android:name=".SendStudentNotificaton"/>
        <activity android:name=".StudentNotification">
            <intent-filter>
                <action android:name="edu.thapar.StudentNotification" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name=".SubmitFeedBackScreen"
            android:label="Student"
            android:theme="@style/StudentTheme">
        </activity>
        <activity
            android:name=".Thankyou_feedback_screen"
            android:label="Student"
            android:theme="@style/StudentTheme">
        </activity>
        <activity
            android:name=".FeedbackTab"
            android:windowSoftInputMode="stateAlwaysHidden" />
        <activity
            android:name=".FacultyTab"
            android:windowSoftInputMode="stateAlwaysHidden" />
        <activity android:name=".ProgramScreenStudentFullList" />
        <activity android:name=".Success" />
        <activity android:name=".ProgramScreenCoreCourse" />
        <activity android:name=".ProgramScreenCoreCourseStudent" />
        <activity android:name=".ProgramScreenAllCourses" />
        <activity android:name=".ProgramManagerCourseSchedule" />
        <activity
            android:name=".FacultyMenu"
            android:label="Faculty"
            android:theme="@style/FacultyTheme" />
        <activity
            android:name=".FacultyCourseListDashboard"
            android:theme="@style/FacultyTheme" />
        <activity
            android:name=".FacultyCourseListAttendance"
            android:theme="@style/FacultyTheme" />
        <activity
            android:name=".FacultyFeedbackDashboard"
            android:theme="@style/FacultyTheme" />
        <activity
            android:name=".FacultyFeedbackScheduleDisplay"
            android:theme="@style/FacultyTheme" />
        <activity
            android:name=".FacultyFeedbackRateDisplay"
            android:theme="@style/FacultyTheme" />
        <activity
            android:name=".FacultyFeedbackSmileyDisplay"
            android:theme="@style/FacultyTheme" />
        <activity
            android:name=".FacultyFeedbackTextDisplay"
            android:theme="@style/FacultyTheme" />
        <activity
            android:name=".FacultyFeedbackLikeDisplay"
            android:theme="@style/FacultyTheme" />
        <activity
            android:name=".FacultyCourseListTakeAttendance"
            android:theme="@style/FacultyTheme" />
        <activity
            android:name=".FacultyCourseListViewAttendance"
            android:theme="@style/FacultyTheme" />
        <activity
            android:name=".FacultyCourseListViewAttendanceDisplay"
            android:theme="@style/FacultyTheme" />
        <activity
            android:name=".FacultyScheduleDisplay"
            android:theme="@style/FacultyTheme" />
        <activity
            android:name=".CalendarViewFaculty"
            android:theme="@style/FacultyTheme" />
        <activity
            android:name=".FacultySelectFeedbackScreen"
            android:theme="@style/FacultyTheme"
            android:parentActivityName=".FacultyCourseListTakeAttendance"
            />
        <activity
            android:name=".StudentMenu"
            android:label="Student"
            android:theme="@style/StudentTheme" >
        </activity>
        <activity
            android:name=".StudentMyProfile"
            android:label="Student"
            android:theme="@style/StudentTheme">
        </activity>
        <activity
            android:name=".MyFeedbackEnrolledCourse"
            android:label="Student"
            android:theme="@style/StudentTheme"/>
        <activity
            android:name=".MyFeedbackScreen"
            android:label="Student"
            android:theme="@style/StudentTheme">
            <intent-filter>
                <action android:name="edu.thapar.MyFeedbackScreen" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name=".StudentEnrollCourseTab"
            android:label="Student"
            android:theme="@style/StudentTheme">
        </activity>
        <activity
            android:name=".EnrolledCourseAttendanceActivity"
            android:label="Student"
            android:theme="@style/StudentTheme"/>
        <activity
            android:name=".EnrolledCourseAttendanceCommonScreen"
            android:label="Student"
            android:theme="@style/StudentTheme" />
        <activity
            android:name=".EnrolledCourseDaywiseAttendanceActivity"
            android:label="Student"
            android:theme="@style/StudentTheme" />
        <activity
            android:name=".EnrolledCourseCumulativeAttendanceActivity"
            android:label="Student"
            android:theme="@style/StudentTheme" />
        <activity
            android:name=".StudentScheduleDisplay"
            android:label="Student"
            android:theme="@style/StudentTheme" />
        <activity
            android:name=".StudentScheduleDisplayFirstYear"
            android:label="Student"
            android:theme="@style/StudentTheme" />

        <service android:name=".FcmMessagingService">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT" />
            </intent-filter>
        </service>
        <service android:name=".FCMInstanceIdService">
            <intent-filter>
                <action android:name="com.google.firebase.INSTANCE_ID_EVENT" />
            </intent-filter>
        </service>
    </application>

</manifest>